<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alunos</title>
</head>
<body>
    <a href="/home">Cadastro</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome do Aluno</th>
                <th scope="col">Usuário</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="aluno: ${Alunos}">
               <td data-th-text="${aluno.id}"></td>
               <td data-th-text="${aluno.nome}"></td>
               <td data-th-text="${aluno.usuario}"></td>
               <td><a type="submit" href="'/excluir/'+${aluno.id}">Cadastrar</a></td>
            </tr>
        </tbody>


    </table>
    
</body>
</html>